@import-normalize; /* bring in normalize.css styles */
* {
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-width: 1440px;
}

.trendList {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: last baseline;
}

.trendItem {
  width: 250px;
}

.choosenbookimg {
  width: 300px;
}

.ChoosenMovie {
  display: flex;
  gap: 30px;
}

.searchedMovie {
  height: 250px;
  width: auto;
}
