@import url('normalize.css'); /* bring in normalize.css styles */
* {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
img {
  display: block;
  width: 100%;
}
body {
  background-color: #383950;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-width: 1440px;
}

.choosenbookimg {
  width: 300px;
}

.searchedMovie {
  height: 250px;
  width: auto;
}

.Test {
  transition: all 0.5;
}
